[user]
	name = doudou diawara
	email = doudoudiawara3@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore-global
[color]
	ui = true
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[merge]
	tool = meld
	
[credential]
	helper = cache
[gc]
	reflogExpire = 200
	reflogExpireUnreachable = 90
